@font-face {
  font-family: "JosefinSans";
  src: url(fonts/Bold/aleo-bold-webfont.ttf);
}
@font-face {
  font-family: "regular";
  src: url(fonts/Regular/aleo-regular-webfont.ttf);
}
.contener h1 {
  color: #ffffff;
  display: flex;
  position: absolute;
  padding-left: 40%;
  padding-bottom: 200px;
  font-size: 45px;
  font-family: "JosefinSans";
}
.contener .fool {
  color: #ffffff;
  display: flex;
  position: absolute;
  padding-left: 40%;
  padding-bottom: 100px;
  font-size: 28px;
  font-family: "regular";
}
.contener .go input {
  background-color: white;
  position: absolute;
  left: 31%;
  top: 350px;
  width: 29%;
  height: 54px;
  z-index: 91;
}
.contener .go button {
  position: absolute;
  color: #ffffff;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  background-color: #5474fd;
  left: 60%;
  top: 350px;
  width: 146px;
  height: 59px;
  z-index: 92;
}
.contener .go i {
  color: #ffffff;
  font-size: 25px;
  margin-top: -5px;
  margin-left: 15px;
  position: absolute;
}
.contener .cont {
  border: 1px #5474fd solid;
  background-color: #5474fd;
  width: 99%;
  height: 75px;
  display: flex;
  position: absolute;
  margin-top: 51%;
}
.contener .cont .styl {
  margin-left: 47%;
  margin-top: 30px;
}
.contener .cont .styl1 {
  color: #ffffff;
  text-decoration: none;
  padding: 30px;
}
.contener .logo1 {
  font-size: 28px;
  color: #ffffff;
  display: flex;
  position: absolute;
  padding-top: 51%;
  padding-left: 10%;
}

.portfolio h3 {
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  padding-left: 10%;
  padding-bottom: 12%;
}
.portfolio .port {
  position: absolute;
  color: #ffffff;
  padding-left: 10%;
  padding-top: 5em;
}
.portfolio .exp {
  position: absolute;
  color: #ffffff;
  margin-left: 10%;
  margin-top: 25%;
  padding: 20px 40px 20px 40px;
  border: 1px #496bfe solid;
  background-color: #496bfe;
  text-decoration: none;
}
.portfolio .im {
  position: absolute;
  margin-top: 4em;
}
.portfolio .im1 {
  position: absolute;
  padding-left: 59%;
}
.portfolio .im2 {
  padding-left: 65em;
  padding-top: 14em;
}

.portfolio1 {
  border: 1px #333333 solid;
  background-color: #333333;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.portfolio1 .how {
  position: absolute;
  padding-top: 80px;
}
.portfolio1 .how .g {
  padding-right: 170px;
  padding-left: 170px;
}
.portfolio1 .coni {
  position: absolute;
  margin-top: 180px;
}
.portfolio1 .coni .boo {
  padding: 124px;
  text-decoration: none;
  font-size: 28px;
  color: #ffffff;
}

.secti .blok {
  background-color: #232323;
  opacity: 0.902;
  position: absolute;
  left: 10%;
  top: 1710px;
  width: 540px;
  height: 371px;
  z-index: 29;
}
.secti .blok p {
  color: #ffffff;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 20px;
  font-family: regular;
  line-height: 1.5;
}
.secti .blok .sis {
  padding-top: 45px;
  padding-left: 24px;
}
.secti .blok .bo {
  text-decoration: none;
  color: #ffffff;
  border: 1p #496bfe solid;
  background-color: #496bfe;
  padding: 20px 65px 20px 65px;
}

.secti1 .blok1 {
  background-color: #232323;
  opacity: 0.902;
  position: absolute;
  left: 56%;
  top: 2300px;
  width: 540px;
  height: 371px;
  z-index: 42;
}
.secti1 .blok1 p {
  color: #ffffff;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 20px;
  font-family: regular;
  line-height: 1.5;
}
.secti1 .blok1 .sis1 {
  padding-top: 45px;
  padding-left: 24px;
}
.secti1 .blok1 .bo1 {
  text-decoration: none;
  color: #ffffff;
  border: 1p #496bfe solid;
  background-color: #496bfe;
  padding: 20px 65px 20px 65px;
}

.testi h4 {
  color: #ffffff;
  position: absolute;
  display: flex;
  padding-bottom: 500px;
  padding-left: 38%;
  font-size: 35px;
}
.testi .boxed {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-left: 10%;
}
.testi .boxed .ex {
  background-color: #333333;
  left: 790px;
  top: 2500px;
  width: 750px;
  height: 284px;
  z-index: 20;
}
.testi .boxed .ex .po {
  font-size: 24px;
  font-family: regular;
}
.testi .boxed .ex p {
  color: #ffffff;
  padding-left: 55px;
  padding-top: 2px;
  font-family: regular;
  line-height: 2;
}
.testi img {
  max-width: 100%;
  height: auto;
}

footer {
  border: 1px #232323 solid;
  background-color: #232323;
  height: 270px;
  text-align: center;
}
footer .logo1 {
  padding-top: 100px;
}
footer .logo1 h3 {
  color: #ffffff;
  font-family: regular;
  font-size: 26px;
}
footer .logo1 .pa {
  color: #ffffff;
  font-family: regular;
}

.contener, .portfolio, .secti, .secti1, .testi {
  max-width: 1770px;
  min-width: 670px;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
}